.resume {

    display: flex;


    .resumecontainer {

        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 80px;

        .top {
            width: 100%;
            height: 28rem;
            background-color: blanchedalmond;

            img {
                width: 100px;
                height: 100px;
                position: absolute;
                margin-left: 30px;
                margin-top: -50px;
                border: 2px solid white;
                border-radius: 50%;
            }

            .cover {
                height: 9rem;
                display: flex;
                flex-direction: row-reverse;
                background-color: rgb(89, 50, 228);
            }

            .desc {
                width: 34rem;
                height: 14rem;
                display: flex;
                flex-direction: column;
                margin-left: 10rem;
                margin-top: 2rem;
                font-size: 20px;
                font-weight: 500;
                background-color: azure;
                gap: 5px;

                span {
                    gap: 5px;
                }



            }
        }


        .about {
            h2 {
                align-self: center;
            }

            .abt {
                background-color: lightgrey;
                display: flex;
                flex-direction: column;

                .sp {
                    width: 50px;
                    height: 20px;
                    background-color: grey;
                }
            }


        }

        .workex {
            h2 {
                align-self: center;
            }

            .x1 {
                background-color: lightgrey;
                display: flex;
                flex-direction: column;
            }

            .x2 {
                background-color: lightgrey;
                display: flex;
                flex-direction: column;
            }

        }


        .Edu {
            h2 {
                align-self: center;
            }

            .edu1 {
                background-color: lightgrey;
                display: flex;
                flex-direction: column;
            }

            .edu2 {
                background-color: lightgrey;
                display: flex;
                flex-direction: column;
            }

        }

        .interests {
            h2 {
                align-self: center;
            }

            .in {
                background-color: lightgrey;
                display: flex;
                flex-direction: column;
            }

        }

        .lang {
            h2 {
                align-self: center;
            }

            .lan {
                background-color: lightgrey;
                display: flex;
                flex-direction: column;
            }

        }
    }
}